body {
  margin: 0;
  padding: 0;
  background: #111827;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1f2937;
  padding: 20px;
  width: 520px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#video {
  margin-top: 15px;
  border-radius: 10px;
  border: 3px solid #4ade80;
}

#emotionText {
  font-size: 22px;
  margin-top: 15px;
  color: #22d3ee;
}
